footer {
  align-items: center;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  padding: $padding-large;
  width: 100%;

  .changers-text {
    color: $white;
    font-size: 23px;
    padding: $padding-small 0;
    text-transform: uppercase;
  }

  .logo {
    padding: $padding-medium 0;
  }

  .copyright {
    align-self: flex-end;
    color: $white;
    font-size: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  footer {
    .changers-text {
      font-size: 20px;
      padding-top: 30px;
    }

    .logo {
      width: 300px;
    }
  
    .copyright {
      align-self: center;
      padding: 30px 0;
    }
  }  
}
