.navbar {
    align-items: center;
    background: $white;
    background-image: url('../img/wolox_logo.svg');
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 190px $nav-logo-height;
    box-shadow: 0px 3px 10px -5px $black;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    height: $nav-height;
    padding: $padding-big;
    top: 0;
    width: 100%;

    .text {
        font-size: $text-big;
    }
}
