@import url('https://fonts.googleapis.com/css?family=Roboto');

$footer-height: 90px;
$footer-logo-height: 30px;
$margin-small: 5px;
$margin-medium: 10px;
$margin-big: 15px;
$nav-height: 90px;
$nav-logo-height: 30px;
$padding-small: 5px;
$padding-medium: 10px;
$padding-big: 15px;
$padding-large: 20px;
$title-decoration-height: 90px;
$title-decoration-width: 70px;
$tech-logo-size: 100px;
$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;

body {
  font-family: 'Roboto', sans-serif;
  margin-top: $nav-height;
  padding-top: $padding-small;
}
