.tech-container {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  width: 100%;

  .box {
    align-items: center;
    background-color: $green;
    border-radius: 5px;
    box-shadow: -10px -10px 0 0 $white, -10px -10px 0 1px $green;
    display: flex;
    flex-direction: column;
    padding: $padding-medium;
    margin: $margin-big;
    width: 200px; 
    transition: box-shadow 0.2s ease; 
    
    &:hover {
      box-shadow: 10px 10px 0 0 $white, 10px 10px 0 1px $green;
      transition: box-shadow 0.2s ease;
    }
  
    .logo {      
      height: $tech-logo-size;
      max-width:100%;
    }
  
    .text {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-size: $text-medium;
      text-align: center;
    
      .name {
        margin: $margin-small;
      }

      .release {
        font-weight: bold; 
        margin: $margin-small;
      }

      .desc {
        margin: $margin-big;
      }
    }
  }

  
}
