.tech-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 70px;
  width: 100%;

  .box {
    align-items: center;
    background-color: $green;
    border-radius: 5px;
    box-shadow: -10px -10px 0 0 $white, -10px -10px 0 1px $green;
    display: flex;
    flex-direction: column;
    padding: $padding-medium;
    margin: $margin-big;
    text-align: center;
    transition: box-shadow 0.2s ease;
    width: 200px;  
    
    &:hover {
      box-shadow: 10px 10px 0 0 $white, 10px 10px 0 1px $green;
    }
  
    .logo {      
      height: $tech-logo-size;
      max-width: 80%;
    }
    
    .name {      
      margin: $margin-small;
    }

    .release {
      font-weight: bold; 
      margin: $margin-small;
    }

    .desc {
      margin: $margin-big;
    }  
  }
}
