.tech-grid-container {
  display: grid;
  grid-template-areas: 
  'left main1 main2'
  'left main3 main4';
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 50%);
  margin: 0 100px 100px;

  .item1 { 
    border-right: solid $green 3px;
    grid-area: left; 
  }
  
  .item2 { 
    grid-area: main1; 
  }
  
  .item3 { 
    grid-area: main2; 
  }
  
  .item4 { 
    grid-area: main3; 
  }
  
  .item5 { 
    grid-area: main4; 
  }

  .box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $padding-medium;
    margin: $margin-big;
    text-align: center;
  
    .logo {      
      height: $tech-logo-size;
      max-width: 80%;
    }
    
    .name {      
      margin: $margin-small;
    }

    .release {
      font-weight: bold; 
      margin: $margin-small;
    }

    .desc {
      margin: $margin-big;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .tech-grid-container {
    grid-template-areas: 
    'left' 
    'main1'
    'main2'
    'main3' 
    'main4';
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, auto);
    margin: 0 60px 100px;

    .item1 {
      border-right: none;
    }
    
    .box:not(:last-child) {
      border-bottom: solid $green 3px;
    }
  }
}
