.box {    
  align-items: center;
  background-color: $green;
  border-radius: 5px;
  box-shadow: -10px -10px 0 0 $white, -10px -10px 0 3px $green;
  display: flex;
  flex-direction: column;
  padding: $padding-medium;
  width: 200px;

  .logo {
    width: $tech-logo-size;
  }

  .text {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: $text-medium;
    text-align: center;
  
    .name {
      margin: $margin-small;
    }

    .release {
      font-weight: bold; 
      margin: $margin-small;
    }

    .desc {
      margin: $margin-big;
    }
  }
}
