.game {
  display: flex;
  flex-direction: row;

  .board {
    align-items: center; 
    display: flex;
    flex-direction: column;
    margin: 50px;
  }

  .hidden {
    display: none;
  }

  .info {
    margin: 20px;
  }  
}
