.game {
  display: flex;
  flex-direction: column;

  .board {
    align-items: center; 
    display: flex;
    flex-direction: column;
    margin: 20px;

    .info {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      margin: 20px;
    }
  }

  .hidden {
    display: none;
  } 
}
