.topbar {
  background: orange;
  box-shadow: 0px 2px 2px grey;
  display: flex;
  justify-content: center;

  a {
    background:
       linear-gradient(
         to bottom, grey 0%,
         grey 100%
       );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    color: #000;
    text-decoration: none;
    transition: background-size .2s;
  }
  
  a:hover {
    background-size: 4px 50px;
  }

  .gameTitle {
    padding: 10px;
    width: 100%;
  }

  .login {    
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .user {
      padding: 10px;      
    }

    .buttonLogout {
      background: black;      
      border: 0;
      border-radius: 5px;
      color: orange;
      margin: 10px;

      &:hover {
        border: 1px solid grey;
        color: grey;
      }
    }
  }
}
